@import "../../styles/variables";


.card {
    background-color: $light-grayish-cyan-primary;
    padding: 0 7rem 7rem 7rem;

    @media only screen and (max-width: 62.5em) {
        padding: 5rem 2rem 2rem 2rem;
    }

    &__container {
        position: relative;
        display: flex;
        
        justify-content: space-between;
        align-items: center;
        padding: 2.5rem;
        background-color: $color-white;
        max-width: 120rem;
        margin: 0 auto 2rem auto;
        z-index: 10;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
        border-left: 4px solid $dark-grayish-cyan;
        border-radius: 3px;

        @media only screen and (max-width: 62.5em) {
            flex-direction: column;
            align-items: unset;
            margin-bottom: 6rem;
        }
    }

    &__logo {
        width: 100px;
        height: 100px;

        @media only screen and (max-width: 62.5em) {
            position: absolute;
            top: 0;
            left: 30px;
            width: 60px;
            height: 60px;
            transform: translateY(-50%);
        }
        
    }

    &__info {
        display: flex;
        justify-content: center;
        grid-gap: 2.5rem;

        @media only screen and (max-width: 62.5em) {
            justify-content: unset;
        }
    }

    &__left-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media only screen and (max-width: 62.5em) {
            grid-gap: 1.5rem;
            margin-top: 1rem;
        }
    }

    &__details {
        display: flex;
        align-items: center;
        grid-gap: 1rem;
        flex-wrap: wrap;
    
    }


    &__company-name {
        font-size: 1.2rem;
        font-weight: 700;
        color: $dark-grayish-cyan;
    }
    
    &__job {
        display: flex;
        grid-gap: .7rem;
        text-transform: uppercase;
        font-weight: 700;
        color: $color-white;
        font-size: 1.1rem;
        
        &--new {
            
            display: block;
            padding: .9rem;
            border-radius: 30px;
            background-color: $desaturated-dark-cyan;
        }
        
        &--featured{
            display: block;
            padding: .9rem;
            background-color: $very-dark-grayish-cyan;
            border-radius: 30px;
        }
    }

    &__position {
        font-size: 1.7rem;
        color: $very-dark-grayish-cyan;
        cursor: pointer;

        &:hover {
            color: $desaturated-dark-cyan;
        }
    }
    
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 1.2rem;
        color: $desaturated-dark-cyan;
        font-weight: 500;
    }
    
    &__posted-at,
    &__contract,
    &__location {
        position: relative;
        font-size: inherit;
    }

    &__posted-at,
    &__contract {

        &::after {
            content: "";
            display: inline-block;
            background-color: $desaturated-dark-cyan;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: -50%;
            transform: translate(-50%, -50%);
            opacity: .5;
        }
    }

    &__categories {
        margin-top: 3.5rem;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 1rem;

        &::before {
            content: "";
            display: block;
            width: 100%;
            border: .2px solid $desaturated-dark-cyan;
            transform: translateY(-13px);

            @media only screen and (min-width: 62.5em) {
                display: none;
            }
        }
    }

    &__category {
        background-color: $light-grayish-cyan-primary;
        color: $desaturated-dark-cyan;
        padding: 1rem;
        font-weight: 700;
        font-size: 1.2rem;
        cursor: pointer;

        &:hover {
            background-color: $desaturated-dark-cyan;
            color: $color-white;
        }

      
    }
}


.filter {
    &__container {
        position: relative;
        display: flex;
        grid-gap: 1rem;
        padding: 3rem;
        background-color: $color-white;
        max-width: 120rem;
        margin: 0 auto;
        z-index: 10;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        transform: translateY(-50%);
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        grid-row-gap: 3rem;
    }

    &__card {
        background-color: $light-grayish-cyan-primary;
        color: $desaturated-dark-cyan;
        padding: 1rem;
        font-weight: 700;
        font-size: 1.3rem;
    }
    
    
    &__cancel {
        background-color: $desaturated-dark-cyan;
        padding: 1rem;
        color: $light-grayish-cyan-primary;
        font-size: 1.3rem;
        cursor: pointer;
        font-weight: 700;
        
        &:hover {
            background-color: $very-dark-grayish-cyan;
        }
    }

    &__clear {
        color: $desaturated-dark-cyan;
        text-decoration: underline;
        border: none;
        background-color: unset;
        font-weight: 700;
        margin-left: auto;
    }
}